/*!
THEME NAME: Nicholls 2012 Home Theme
THEME URI: http://www.nicholls.edu
DESCRIPTION: Nicholls Core Theme to start development 
VERSION: 1.0
AUTHOR: Jess Planck
AUTHOR URI: http://www.nicholls.edu
TEMPLATE: fnbx
*/

/* 
Copyright (c) Jess Planck (http://funroe.net)

The FNBX Theme is released under the GNU General Public License.

This is a WordPress Theme (http://wordpress.org). WordPress is free
software: you can redistribute it and/or modify it under the terms of
the GNU General Public License as published by the Free Software
Foundation, either version 2 of the License, or (at your option) any
later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
General Public License for more details.

You should have received a copy of the GNU General Public License along
with WordPress.  If not, see <http://www.gnu.org/licenses/>.
*/

/* Imports --------------------------------------------------------------*/

@import 'nicholls-sprites';
@import "base";
/* @import 'defaults'; */

/* Layouts */

/* 
Column Notes
.5 width = 1.313
.25 width = .6565
*/

$total-columns: 26; 
$column-width: 1.423em;
$gutter-width: .88em;
$grid-padding: 0;
$show-grid-backgrounds: $show_grids;

/*
Make Static or Magic
*/
$container-style: static;

/* Layout - Default breakpoint is 945 */

body.home-page .header-nicholls-wrapper-, body.home .header-nicholls-wrapper- {
	background: #2d2d2d;
	background-image: url( 'library/images/backgrounds/bg-pattern-n-rectangles-grey-dark.png' );	
}

.header-nicholls- {
	background-image: none;
	height: auto;
}

/* ISSUE: causes spacing above .header-nicholls */
.header-nicholls- .section-slider {
	float: left;
}

.flexslider-all- {
	@include container;
	background-color: #000;
	/* ISSUE: IE9 Won't just go 100% */
	min-width: 942px !important;
	min-height: 496px !important;	
}

.flex-active-slide img {
	float: left;
}

.flex-caption {
	float: left;
	color: #fff;
    margin-top: -8.4em;
    font-size: 94%;
}

.flex-caption a, .flex-caption a:link, .flex-caption a:visited, .flex-caption a:active {
	color: #fff;
}

.flex-caption-title {
	font-family: 'Crimson Text', Georgia, "TImes New Roman", times, serif;
	font-weight: 400;
    font-size: 225%;
	text-shadow: 1px 1px 1px black;
    margin: .2em 0;
    padding: .4em;
    color: #fff;
    background: transparent url( 'library/images/backgrounds/bg-transparent-black-60.png' );      	
}

.flex-caption-title a {
	text-decoration: none;
}

.flex-caption-title a:hover {
	text-decoration: underline;
}

.flex-caption-content {
    margin: .2em .4em;
    padding: .4em;
    background: transparent url( 'library/images/backgrounds/bg-transparent-black-60.png' );      
}

.flexslider-container-nav- {
  margin: .5em auto;
  width: auto;
}

.flexslider-container-nav- li {
	margin-left: .4em;
	width: 60px;
}

.flexslider-container-nav- .slides img {
	border: 2px solid #ccc;
}

.flexslider-container-nav- .flex-active-slide img {
	border: 2px solid #cc3333;
}

/* START - Nicholls Home Menu */

.nicholls-home-list-container- {	
	text-align: left;
	clear: both;
	position: relative;
	z-index: 1001;
}

.nicholls-home-list-container- .nicholls-home-list- {
	list-style-type: none;
	list-style-position: inside;	
	clear: both;
	margin: 0;
	padding: 0;
}

.nicholls-home-list-container- .nicholls-home-list- .nicholls-home-list-item {
	list-style-type: none;
	list-style-position: inside;
	padding: 0;
	float: left;
	font-weight: 600;	
	color: $nicholls-color-red;
	display: block;
	width: 13%;
	text-align: center;
	margin-left: .5em;
}

.nicholls-home-list-item a, .nicholls-home-list-item a:link, .nicholls-home-list-item a:visited, .nicholls-home-list-item a:active {
	text-decoration: none;
} 

.nicholls-home-apply-link- {
	@include nicholls_home_icon('red-apply');
}

.nicholls-home-calendar-link- {
	@include nicholls_home_icon('red-calendar');
}

.nicholls-home-explore-link- {
	@include nicholls_home_icon('red-explore');
}

.nicholls-home-finaid-link- {
	@include nicholls_home_icon('red-financial-aid');
}

.nicholls-home-majors-link- {
	@include nicholls_home_icon('red-majors');
}

.nicholls-home-tour-link- {
	@include nicholls_home_icon('red-tour');
}

.nicholls-home-social-link- {
	@include nicholls_home_icon('red-social');
}

/* Emergency Preparedness Notices */

.nicholls-emergency-notice-wrapper {
	border-top: 1px solid $nicholls-color-grey-light-3;
	border-bottom: 1px solid $nicholls-color-grey-light-3;	
	padding: .2em .2em;
	background: #000;
}

.nicholls-emergency-notice {
	@include container;
	background-color: yellow;
	border: 2px dotted #F90;
	padding: .2em;
}

.nicholls-emergency-notice h2 {
	margin: 0;
	font-size: 126%;
	font-weight: 800;
}

.nicholls-emergency-notice ul {
	margin: 4px;
	padding: 0;
	margin-left: 20px;
	list-style: none;	
	}

.nicholls-emergency-notice ul li {
	margin: 0;
	padding: 0;
	line-height: 1.1em;
	font-size: 94%;
	}
	
.nicholls-emergency-notice a {
	color: #cc3333;
	text-decoration: underline;
}

.nicholls-emergency-notice a:hover {
	color: #ffffff;
	background: #cc3333
}

/* Layout - Large Screen breakpoint is 1166 */
@include at-breakpoint( 74em 32 ) {
	.nicholls-emergency-notice {
		@include container;
	}
	
	.flexslider-all- {
		@include container;
		/* ISSUE: IE9 Won't just go 100% */
		min-width: 1166px !important;
		min-height: 614px !important;
	}
	
}

/* Layout - Tablet Screen breakpoint is  */
@include at-breakpoint( 42em 18 62em ) {
	.nicholls-emergency-notice {
		@include container;
	}
	
	.flexslider-all- {
		@include container;	
		margin-top: 12.8em;
		/* ISSUE: IE9 Won't just go 100% */
		min-width: 650px !important;
		min-height: 342px !important;		
	}
	
	.flex-caption {
		float: left;
		color: #fff;
		margin-top: -8.4em;
		font-size: 80%;
	}	
}

/* Layout - Phone Screen Landscape breakpoint is  */
@include at-breakpoint( 28em 12 42em ) {
	.nicholls-emergency-notice {
		@include container;
	}
	
	.flexslider-all- {
		@include container;	
		margin-top: 17.4em;
		/* ISSUE: IE9 Won't just go 100% */
		min-width: 429px !important;
		min-height: 227px !important;		
	}
	
	.flex-caption {
		float: left;
		color: #fff;
		margin-top: -8.4em;
		font-size: 76%;
	}
		
	.nicholls-home-list-container- .nicholls-home-list- .nicholls-home-list-item {
		width: 23%;
	}
	
	.nicholls-home-list-container- .nicholls-home-list- .nicholls-home-list-finaid- {
		clear: left;
		margin-left: 4em;
	}
}

/* Layout - Phone Screen Portrait breakpoint is  */
@include at-breakpoint( 0em 8 28em ) {
	.nicholls-emergency-notice {
		@include container;
	}
	
	.flexslider-all- {
		@include container;
		/* ISSUE: IE9 Won't just go 100% */
		min-width: 280px !important;
		min-height: 152px !important;
		margin-top: 20.4em;
	}
	
	.flex-caption {
		float: left;
		color: #fff;
		margin-top: -4.4em;
		font-size: 70%;
	}
		
	.nicholls-home-list-container- .nicholls-home-list- .nicholls-home-list-item {
		width: 30%;
	}
	
	.nicholls-home-list-container- .nicholls-home-list- .nicholls-home-list-calendar-,
	.nicholls-home-list-container- .nicholls-home-list- .nicholls-home-list-finaid- {
		margin-left: 0;
	}
	
	.nicholls-home-list-container- .nicholls-home-list- .nicholls-home-list-apply- {
		margin-left: 7em;
	}
	
	.nicholls-home-list-container- .nicholls-home-list- .nicholls-home-list-calendar- {
		clear: left;
	}
	
}

/* Layout - High Resolution Screens */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
/*  @import 'media/high-rez'; */
}
